.btn button {
    width: 100%;
    margin: 20px 0;
}
.link {
    color: #0066cc;
    margin-left: 7px;
}
.error {
    color: red;
}

@media only screen and (max-width: 767px) {
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

/* desktop */
@media only screen and (min-width: 1025px) {
}
